*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 17px;
}

.header_topline {
	background-color: #212121;
	height: 46px;
    line-height: 46px;
    white-space: nowrap;
	color: #fff;
    font-size: 17px;
}
.header_topline a {
	color: #fff;
}

.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}

.soc_buttons {
	float: right;
}
.top_links  {
	float: left;
}

.soc_buttons > a {
	font-size: 24px;
	margin-left: 12px;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}
.top_header {
	background-color: #14af8d;
}
.logo {
	color: #fff;
	display: block;
	font-family: "RobotoLight", sans-serif;
	font-size: 50px;
	padding-top: 30px;
    padding-left: 70px;
	text-align: left;
}
.pos {
	color: #fff;
	display: block;
	font-family: "RobotoLight", sans-serif;
	font-size: 20px;
	padding: 0px 70px;
	text-align: left;
}
.c_cont {
    position: absolute;
    width:100%;
    height:89px;
    display: inline-block;
}
.contacts {
    height:88px;
    width:33.33%;
    position: relative;
    float:left;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    padding: 2px 0;
    
}
.c_line {
    position: absolute;
    height: calc(100% / 2 - 2px);
    width:40%;
    left:30%;
    border-bottom: 1px solid white;
    opacity: 0.4;
}
.c_line.blured {
    position: absolute;
    height: calc(100% / 2 - 2px + 10px);
    width:50%;
    left:25%;
    border-bottom: 10px solid white;
    filter: blur(20px);
    opacity: 1;
}

.portrait {
    position: relative;
/*    width: calc(100% - 20px);*/
    width: 100%;
    height: auto;
/*    margin-top: -9px;*/
    border-radius: 2px;
/*    border: 1px solid #212121;*/
}

.main_mnu {
	background-color: #0a6753;
	color: #fff;
	margin-bottom: 20px;
}
.main_mnu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_mnu a:hover {
	background-color: #2787af;
}
.main_mnu ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
    z-index:50;
}
.top_contacts {
	background-color: #2787af;
	float: right;
	font-size: 30px;
	line-height: 53px;
	padding: 0 15px;
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0;
}
.maian_mnu ul {
	z-index: 12;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	padding: 16px 0;
}
.slider_container img {
	width: 100%;
}
.slider_container {
	position: relative;
    width: 100%;
}
.next_button, .prev_button {
/*	background-color: rgba(255, 255, 255, 0.5);*/
/*	border-radius: 10em;*/
	color: #fff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}
section.order  {
	background-color: #eee;
	padding: 25px 0;
}
.self_desc {
    font-size: 22px;
    padding-top: 5px;
}
.button {
    background-color: #2bc6a4;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoCondensedBold";
    text-transform: uppercase;
}
.blog_item {
    border: 1px solid #43484c;
    border-radius: 3px;
    margin-top: 30px;
}

.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
    border-radius: 600px;
    margin: 30px;
    
}
.blog_item h3 {
	text-transform: uppercase;
/*	font-family: "RobotoCondensedRegular";*/
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: none;
    margin-left: 50px;
    position: absolute;
    top:-15px;
    background: white;
    padding: 0px 10px;
    color: #2d2d2d; 
/*    color: #9191d0;*/
}
.blog_item p {
	margin-top: 0;
    margin-left: 20px;
    padding-right:20px;
    padding-top: 30px;
    font-size: 18px;
    line-height: 28px;
}
.blog_item p span {
    color:white;
    background: #0a6753;
/*    background: white;*/
    border-radius: 3px;
    padding: 0px 4px;
    filter:drop-shadow(0px 0px 1px #212121);
    margin:0px 0px 0px 0px;
}
.blog_item p i {
	color: #212121;
}

.curve { 
  width: 30%; height: auto;
/*  min-width: 150px;*/
  float: left;
/*  margin-right:2rem; */
  border-radius: 50%;
/*  margin-left: -50%;*/
/*  -webkit-shape-outside:circle(150px 300px at 50% 50%);*/
  shape-outside:circle();
  padding: 5px;
  border: 3px solid #212121;
}

.circlesymbol {
    position: absolute;
    width:30%;
}
.circlesymbol img {
    width:100%;
    height: auto;
    opacity: 0;
    margin: 30px;
    border-radius: 50%;
}
.symb {
    position: absolute;
    display: inline-block; 
    font-size: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 30px 30px 30px;
    color:white;
    filter:drop-shadow(0px 0px 8px #212121);
    opacity: 0.95;
    color: #fff;
}
.symb.wrench {
    font-size: 140px;
    padding-bottom: 20px; 
}
.right_aside {
	padding: 6px 6px;
	border-radius: 3px;
	background-color: #212121;
	margin-top: 30px;
    color: white;
}

.right_aside p {
    font-family: "RobotoCondensedRegular";
    padding:5px;
/*    text-align: justify;*/
}
.right_aside a {
    color: #212121;
/*    font-family: "RobotoCondensedLight";*/
    font-size: 16px;
}

.right_aside ul {
    background: white;
    color:#212121;
    padding:15px 30px;
    border-radius: 3px;
}
/*





*/
