*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoLight", sans-serif;
	font-size: 17px;
    background: #f1f1f1;
}

.header_topline {
	background-color: #2b2d53;
	height: 46px;
    line-height: 46px;
    white-space: nowrap;
	color: #fff;
    font-size: 17px;
    box-shadow: 0 -1px 8px 1px #141414;
}
.header_topline a {
	color: #fff;
}

.top_links a {
    text-decoration: none;
}
.top_links a:hover {
	text-decoration: underline;
}

.soc_buttons {
	float: right;
}
.top_links  {
	float: left;
}

.soc_buttons  {
    pointer-events: none;
}
.langchose {
    padding: 0px 3px;
    cursor: pointer;
    pointer-events:all;
}
.langchose:hover {
    background: white;
    color: #2b2d53;
}
.langchose:active {
    background: #ddd;
    color: #2b2d53;
}
.langchose.chosen {
    background: white;
    color: #2b2d53;
    cursor:default;
    pointer-events: none;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}
.top_header {
    background-color: #394669;
    box-shadow: 0 -1px 8px 1px #141414;
}
.logo {
	color: #fff;
	display: block;
	font-family: "RobotoLight", sans-serif;
	font-size: 50px;
	padding-top: 30px;
    padding-left: 70px;
	text-align: left;
}
.pos {
	color: #fff;
	display: block;
	font-family: "RobotoLight", sans-serif;
	font-size: 20px;
	padding: 0px 70px;
	text-align: left;
}
.c_cont {
    position: absolute;
    width:100%;
    height:89px;
    display: inline-block;
}
.contacts {
    height:88px;
    width:33.33%;
    position: relative;
    float:left;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    padding: 2px 0;
    
}
.c_line.thin {
    position: absolute;
    height: calc(100% / 2 - 2px);
    width:40%;
    left:30%;
    border-bottom: 1px solid white;
    opacity: 0.4;
    transition: 500ms ease;
    pointer-events: none;
}

.c_line.blured {
    position: absolute;
    height: calc(100% / 2 - 2px + 10px);
    width:50%;
    left:25%;
    border-bottom: 10px solid white;
    filter: blur(20px);
    opacity: 1;
    
    transition: 500ms ease;
}
.contacts:hover .c_line.thin {
    border-bottom: 84px solid white;
    width:60%;
    left:20%;
    opacity: 0.1;
}
.contacts:hover .c_line.blured {
    border-bottom: 25px solid white;
    height: calc(100% / 2 - 2px + 15px);
    width:40%;
    left:30%;
}

.main_mnu {
    background-color: #505a75;
	color: #fff;
	margin-bottom: 20px;
}
.main_mnu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_mnu a:hover {
	background-color: #2787af;
}
.main_mnu ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
    z-index:50;
}
.top_contacts {
	background-color: #2787af;
	float: right;
	font-size: 30px;
	line-height: 53px;
	padding: 0 15px;
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0;
}
.maian_mnu ul {
	z-index: 12;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	padding: 16px 0;
}
.slider_container img {
	width: 100%;
}
.slider_container {
	position: relative;
    width: 100%;
}
.next_button, .prev_button {
/*	background-color: rgba(255, 255, 255, 0.5);*/
/*	border-radius: 10em;*/
	color: #fff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}
section.order  {
	background-color: #eee;
	padding: 25px 0;
}
.self_desc {
    font-size: 22px;
    padding-top: 5px;
}
.button {
    background-color: #2bc6a4;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoCondensedBold";
    text-transform: uppercase;
}
.blog_item {
    border-radius: 3px;
    margin-top: 30px;
    box-shadow: 0 1px 0 0 #bac3c1, 0 0 0 1px #cdd6d4;
    border: 1px solid rgb(239, 239, 239);
    background: white;
}

.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
    border-radius: 600px;
    margin: 30px;
    
}
.blog_item h3 {
	text-transform: uppercase;
/*	font-family: "RobotoCondensedRegular";*/
    font-family: "RobotoCondensedRegular", sans-serif;
    font-size: 20px;
	margin-bottom: 10px;
    color: transparent;
}
.blog_item h3.border_captionpost {
    margin-left: 50px;
    position: absolute;
    top:-35px;
    background: white;
    padding: 0px 10px;
    
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #bac3c1, 0 0 0 1px #cdd6d4;
    border: 1px solid rgb(239, 239, 239);
}
.blog_item h3.hidehalf_captionpost {;
    margin-left: 49px;
    position: absolute;
    top:-22px;
    background: white;
    padding-right: 24px;
    border-radius: 3px;
}
.blog_item h3 a {
	text-decoration: none;
    margin-left: 50px;
    position: absolute;
    top:-15px;
    background: transparent;
    padding: 0px 10px;
    color: #444; 
/*    color: #9191d0;*/
}

.blog_item p {
	margin-top: 0;
    margin-left: 20px;
    padding-right:20px;
    padding-top: 30px;
    font-size: 18px;
    line-height: 29px;
    color: #444444;
}
.blog_item p span {
    color: #444444;
    background: #c2cbbf;
    border-radius: 1px;
    padding: 1px 4px;
    box-shadow: 0 1px 0 0 #646871, 0 0 0 1px #d4d4d4;
    margin: 0px 0px 0px 0px;
}
.blog_item p i {
	color: #444444;
}

.curve { 
  width: 30%; height: auto;
/*  min-width: 150px;*/
  float: left;
/*  margin-right:2rem; */
  border-radius: 50%;
/*  margin-left: -50%;*/
/*  -webkit-shape-outside:circle(150px 300px at 50% 50%);*/
  shape-outside:circle();
  padding: 5px;
  border: 2px solid #888;
  box-shadow: 0 0 4px 2px #888;
}

.circlesymbol {
    position: absolute;
    width:30%;
}
.circlesymbol img {
    width:100%;
    height: auto;
    opacity: 0;
    margin: 30px;
    border-radius: 50%;
}
.symb {
    position: absolute;
    display: inline-block; 
    font-size: 10vw; /*130px*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 30px 30px 30px;
    color:white;
    filter:drop-shadow(0px 0px 8px #888);
    opacity: 0.95;
    color: #fff;
}
.symb.wrench {
    font-size: 11.5vw;
    padding-bottom: 20px; 
}
.right_aside {
	padding: 16px 16px;
	border-radius: 3px;
	background-color: #fff;
    box-shadow: 0 1px 0 0 #bac3c1, 0 0 0 1px #cdd6d4;
    border: 1px solid rgb(239, 239, 239);
	margin-top: 30px;
    color: #444;
}

.right_aside p {
    font-family: "RobotoCondensedRegular";
    padding:5px;
/*    text-align: justify;*/
}
.right_aside a {
    color: #212121;
/*    font-family: "RobotoCondensedLight";*/
    font-size: 16px;
}

.right_aside ul {
    background: #fff;
    color:#444444;
/*    padding-top:0px;*/
/*    padding:10px 0px;*/
    border-radius: 0px;
/*    border-top: 1px solid #888;*/

}
.right_aside li {
    color: #444444;
    background: #c2cbbf;
    display: inline-block;
    border-radius: 1px;
    padding: 1px 4px;
    box-shadow: 0 1px 0 0 #646871, 0 0 0 1px #d4d4d4;
    margin: 4px 0px 0px 4px;
}

.portrait {
    position: relative;
    width: 100%;
/*    width: calc(100% - 30px);*/
    height: auto;
/*    margin: 15px;*/
    border-radius: 2px;
    padding: 15%;
/*
  border: 1px solid #444;
  box-shadow: inset 0 0 1px 0px #444;
*/
    background: #f1f1f1;
    box-shadow: inset 0 1px 0 0 #bac3c1, inset 0 0 0 1px #cdd6d4;
    border: 1px solid rgb(239, 239, 239);
    
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
    transition: 1s ease;
}

.portrait:hover {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%)
}

.bottom_footer {
    width: 100%;
    background-color: #f1f1f1;
	height: 46px;
    line-height: 46px;
    white-space: nowrap;
	color: #fff;
    font-size: 17px;
    margin-top: 30px;
/*    box-shadow: inset 0px 5px 8px -5px #141414;*/
}










