/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.sell_right .button {
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}
	.self_desc {
		text-align: center;
	}
    .blog_item h3.border_captionpost {
        box-shadow: 0 1px 0 0 transparent, 0 0 0 1px transparent;
        border: 1px solid transparent;
    }
    
    .symb {
    font-size: 13vw;
    }
    .symb.wrench {
    font-size: 15vw;
    }
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_links {
		background-color: #585d61;
		display: none;
		margin-top: 15px;
		padding: 38px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
        font-size: 30px;
        text-align: center
	}
    .main_mnu ul {
		background-color: #3797bf;
		display: none;
		position: absolute;
		width: 100%;
	}
	.main_mnu ul li {
		display: block;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
 
} 

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
    .main_mnu ul {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.blog_item h3.border_captionpost {
        box-shadow: 0 1px 0 0 #bac3c1, 0 0 0 1px #cdd6d4;
        border: 1px solid rgb(239, 239, 239);
    }
    
    .symb {
    font-size: 10vw;
    }
    .symb.wrench {
    font-size: 11.5vw;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}